In [8]:
import pandas as pd                             # 1.importing library
import numpy as np
import matplotlib.pyplot as plt

In [9]:
data_2 = pd.read_csv('C:/Users/Lenovo/Downloads/social_ads.csv')                # 2.importing dataset
data_2.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [26]:
x= data_2.iloc[:,[2,3]].values

In [23]:
y = data_2.iloc[:, 4].values

In [25]:
y = data_2.iloc[:,4].values

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=1)

In [15]:
from sklearn.preprocessing import StandardScaler

In [16]:
sc = StandardScaler()

In [17]:
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [18]:
from sklearn.svm import SVC

In [19]:
cl = SVC(kernel = 'linear',random_state=0)
cl.fit(x_train,y_train)

SVC(kernel='linear', random_state=0)

In [20]:
y_pred = cl.predict(x_test)

In [ ]:
from sklearn.metrics import